@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stylishFont{
    font-family: 'Playfair Display', serif;
}

.colorfull{
    background-image: linear-gradient(120deg, rgb(78, 128, 235),rgb(203, 44, 243));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.colorfull:hover{
    background-image: linear-gradient(120deg,rgb(216, 97, 245),rgb(81, 133, 247)); 
}
.linerColor{
    background-image: linear-gradient(90deg, rgb(78, 128, 235),rgb(203, 44, 243),yellow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.rotate{
    transform: rotate(180deg);
    transition: all 0.7s;
}
.secondRotate{
    transform: rotate(0deg);
    transition: all 0.7s;
}

.AddProjectTransition{
    transition: all 1s linear;
}


.aimations-roate:hover{
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transition: all 1s ease-in-out;
}

.hoverOverAnimation{
    transform: rotateY(180deg);
    transition: all 1s ease-in-out;
};

.hoverOutAnimation{
    transform: rotateY(0deg);
    transition: all 1s ease-in-out;
}

.joiningFont{
    font-family: 'Dancing Script', cursive;
}


